APP_NAME=CareCover
APP_ENV=local
APP_KEY=base64:hWJ0loOByrINu0+kuy7tuVYmqJUdlSIFf/F+q92Qwr8=
APP_DEBUG=true
APP_URL=http://localhost

LOG_CHANNEL=stack

DB_CONNECTION=mysql
DB_HOST=127.0.0.1
DB_PORT=3306
DB_DATABASE=mlm
DB_USERNAME=root
DB_PASSWORD=

BROADCAST_DRIVER=pusher
CACHE_DRIVER=file
QUEUE_CONNECTION=sync
SESSION_DRIVER=file
SESSION_LIFETIME=120

REDIS_HOST=127.0.0.1
REDIS_PASSWORD=null
REDIS_PORT=6379

MAIL_MAILER=smtp
MAIL_HOST=smtp.mailtrap.io
MAIL_PORT=2525
MAIL_USERNAME=1a85fef704674f
MAIL_PASSWORD=9329b30bc6a2af
MAIL_ENCRYPTION=tls
MAIL_FROM_ADDRESS=admin@carecover.com
MAIL_FROM_NAME="${APP_NAME}"

AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_DEFAULT_REGION=us-east-1
AWS_BUCKET=

PUSHER_APP_ID=123456
PUSHER_APP_KEY=123456
PUSHER_APP_SECRET=123456
PUSHER_APP_CLUSTER=mt1

MIX_PUSHER_APP_KEY="${PUSHER_APP_KEY}"
MIX_PUSHER_APP_CLUSTER="${PUSHER_APP_CLUSTER}"

NOCAPTCHA_SITEKEY=6Ld1-zIgAAAAAIRdlprGO6gHD2F2WQbZpISuHuFS
NOCAPTCHA_SECRET=6Ld1-zIgAAAAAJ1ly4aHb327q2-FN5vrMrUGtgRl
