.aesterik {
    color: red;
}

h4#header-heading {
    margin-top: 17px;
    font-size: 24px;
    color: #0c1a61;
}


.transactions-card-respo{
    overflow-x: scroll !important;
}

.transactions-card-respo::-webkit-scrollbar {
 scrollbar-width: thin;
}
 
.transactions-card-respo::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}
 
.transactions-card-respo::-webkit-scrollbar-thumb {
  background-color: darkgrey;
  outline: 1px solid slategrey;
}

.transaction-btn{
    width: 100px ;
    font-size: 16px;
    padding: 10px;
}