.aesterik {
    color: red;
}


/* Header CSS */

nav.navbar {
    margin-top: -20px;
}

h4#header-heading {
    margin-top: 17px;
    font-size: 24px;
    color: #0c1a61;
}


/* Registeratiion Page */

.noble-ui-logo {
    font-size: 32px !important;
}

.number {
    font-weight: 100;
    float: right;
}

#account-details {
    margin-top: 20px;
}

#account-details h4 {
    font-size: 1.2rem;
}

#referral_link_div {
    margin-top: 50px;
}

#row-refferal {
    padding-bottom: 100px;
}

input#referral_link {
    height: 50px;
    font-size: 22px;
    font-weight: 500;
}

button#refferal_btn {
    font-size: 18px;
    height: 40px;
}

/*//Transaction*/

.info-box{
    padding: 15px 5px;
    border-radius: 20px;
}
span.info-box-icon{
    text-align: center;
    margin-bottom: 12px;
    font-size: 20px;
}

.info-box-icon>svg{
    width: 40px !important;
    height: 40px !important;
}
span.info-box-heading{
    text-align: center;
    font-size: 20px;
    font-weight: 600;
}

span.info-box-num{
    text-align: center;
    margin-top: 10px;
    font-size: 26px;
    font-weight: 400;
}


span.table-data-extra{
    font-size: 9px !important;
}



/*/*CareCover Rewards*/

.rewards-card-header{
    text-align: center;
    font-size: 24px;
}

.rewards-title-btn{
    text-decoration: none;
    font-size: 20px;
}

.rewards-title-btn:hover{
    text-decoration: none;
}

#accordion.class{
    margin-top: 5px;
}